.sub_Section {
  width: 100%;
  /* gap: 16px; */
  font-size: 14px;
}
.sub_text {
  height: 57px;
  padding: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.sub_dateSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub_separator {
  position: relative;
  flex-shrink: 0;
  /* align-self: stretch; */
  background-color: #dee2e6;
  height: 1px;
}
