.headings,
.icons-used-for-a-spacer,
.table__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table__header {
  align-self: stretch;
  background-color: #fff;
  height: 52px;
  flex-shrink: 0;
  padding: 16px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 16px;
}
.table__textElements6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: #495057;
}
.table__textElements7,
.table__textElements8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.table__textElements7 {
  flex: 1;
  text-align: left;
  font-size: 14px;
  color: #868e96;
}
.table__textElements8 {
  flex-shrink: 0;
}
.table__textElements8 {
  width: 120px;
  font-size: 14px;
}
.headings1,
.table-rows,
.table-rows1 {
  flex: 1;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.headings1 {
  display: flex;
  padding: 2px 0;
  justify-content: space-between;
}
.table-rows,
.table-rows1 {
  align-self: stretch;
  border-radius: 8px;
  padding: 12px 16px;
  gap: 16px;
}
.table-rows {
  background-color: #f7f7f8;
  display: flex;
  justify-content: flex-start;
}
.table-rows1 {
  background-color: #fff;
}
.rows,
.table-rows1 {
  display: flex;
  justify-content: flex-start;
}

.rows {
  align-items: flex-start;
}
.rows {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 8px;
  box-sizing: border-box;
  font-size: 11px;
  color: #868e96;
}
.content-area,
.tables {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
}
.tables {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-area {
  padding: 32px 0 0;
  box-sizing: border-box;
  font-size: 14px;
}
.content-area,
.right-side,
.surveys {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
